/*
colors
red - e26d5c old
        e1705e new
blue - 0fb7bb
black - 484a47 
*/

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

ul {
    float:left;
    background-color: #484a47;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
    width: 12vw;
    height: 100vh; 
    padding-inline-start: 0px;
}

.navbar li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16pt;
    text-align: center;
}

.logo {
    width: 7vw;
    height: 7vw;
    padding: 1.5vw 2.5vw 0px 2.5vw;
}

.navbar li img{
    width: 5vw;
    height: 5vw;
    padding: 1vw 3.5vw 0vw 3.5vw;
}
.navbar li:hover{
    background-color: #e1705e;
    /*transform: translate(2px, 2px) */
}

.mainscreen{
    width: 86.5vw;
    height: 100vh;
    margin: 0px;
    float: right;
    padding: 0px;
    display: inline;
}

.courses,.navbar{
    float: left;
}

.topSection{
    width: 85vw;
    height: 20vh;
    border-bottom: 1px solid grey;
}
.mainscreen .courses a{
    padding: 1vh 0vw;
    margin: 2vh;    
    height: 10vh;
    text-decoration: none;
    color: #484a47;
    font-size: 8vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    float: left;
}

.mainscreen .courses img{
    width: 4vw;
    height: 4vw;
    padding-top: 5vh;
    float: left;
}

.mainscreen .courses:hover{
    background-color: #e1705e;
}

.mainscreen .members{
    padding: 4vh 2vw;
    float: right;
}

.mainscreen .members img{
    width: 6w;
    height: 6vw;
}

.topSection .messaging, .topSection .courses {
    float: left;
    display: block
}

.messaging img{
    width: 200px;
    height: 175px;
    padding: 25px 25px;
}

#settings {
    position: fixed;
    bottom: 0;
    padding-bottom: 1vw;
}

.messages {
    width: 30vw;
    height: 35vh;
    margin-top: 3vh;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
}

.calendar {
    width: 30vw;
    height: 35vh;
    margin-top: 3vh;
    display: inline-block;
    border: 1px solid black;
}

.assignment {
    width: 50vw;
    background-color: green;
    display: inline-block;
    margin-left: 3vw;
    margin-top: 3vh;
    float: right;
}

.assignment_head {
    width: 100%;
    font-size: 4vh;
}

#search {
    width: 2.6vw;
    height: 2.6vw;
    float: right;
    margin-right: 0.5vw;
}

#add_task {
    width: 2.6vw;
    height: 2.6vw;
    float: right;
}

#add_task:target, #add_task:target + .mainscreen{
    opacity: 2;
}

#notification {
    height: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    border: 1px solid black;
    display: table;
}

#star {
    height: 9vh;
    width: 9vh;
    margin-left: 1vh;
    margin-top: 0.5vh;
}

#notification_text {
    height: 9vh;
    text-justify: left;
    margin-top: 15px;
}

.column {
    float: left;
}