/*
colors
red - e26d5c old
        e1705e new
blue - 0fb7bb
black - 484a47 
*/

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

ul {
    float:left;
    background-color: #484a47;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
    width: 12vw;
    height: 100vh; 
    padding-inline-start: 0px;
}

.navbar li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16pt;
    text-align: center;
}

.logo {
    width: 7vw;
    height: 7vw;
    padding: 1.5vw 2.5vw 0px 2.5vw;
}

.navbar li img{
    width: 5vw;
    height: 5vw;
    padding: 1vw 3.5vw 0vw 3.5vw;
}
.navbar li:hover{
    background-color: #e1705e;
    /*transform: translate(2px, 2px) */
}

.mainscreen{
    width: 86.5vw;
    height: 100vh;
    margin: 0px;
    float: right;
    padding: 0px;
    display: inline;
}

.courses,.navbar{
    float: left;
}

.topSection{
    width: 85vw;
    height: 20vh;
    border-bottom: 1px solid grey;
    
}
.mainscreen .courses a{
    padding: 1vh 0vw;
    margin: 2vh;    
    height: 10vh;
    text-decoration: none;
    color: #484a47;
    font-size: 8vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    float: left;

}

.mainscreen .courses img{
    width: 4vw;
    height: 4vw;
    padding-top: 5vh;
    float: left;
}

.mainscreen .courses:hover{
    background-color: #e1705e;
}

.mainscreen .members{
    padding: 4vh 2vw;
    float: right;
}

.mainscreen .members img{
    width: 6w;
    height: 6vw;
}

.topSection .messaging, .topSection .courses {
    float: left;
    display: block
}

.messaging img{
    width: 200px;
    height: 175px;
    padding: 25px 25px;
}

#settings {
    position: fixed;
    bottom: 0;
    padding-bottom: 1vw;
}

.messages {
    width: 30vw;
    height: 35vh;
    background-color: aqua;
    margin-top: 3vh;
    display: inline-block;
    vertical-align: top;
}

.calendar {
    width: 30vw;
    height: 35vh;
    background-color: red;
    margin-top: 3vh;
    display: inline-block;
}

.assignment {
    width: 50vw;
    background-color: green;
    display: inline-block;
    margin-left: 3vw;
    margin-top: 3vh;
    float: right;
}

.assignment_head {
    width: 100%;
    font-size: 4vh;
}

#search {
    width: 2.6vw;
    height: 2.6vw;
    float: right;
    margin-right: 0.5vw;
}

#add_task {
    width: 2.6vw;
    height: 2.6vw;
    float: right;
}

#add_task:target, #add_task:target + .mainscreen{
    opacity: 2;
}

.new_task {
    position: absolute;
    top: 5vw;
    left: 25vw;
    display: inline;
    float: right;
    margin: 5vw;
    background-color: whitesmoke;
}

.new_task_title {
    border: 2px solid #484a47;
    border-bottom: none;
    background-color: #0fb7bb;
    padding: 0vw 1.5vw;
    width: 12.5vw;
    height: 10vh;
}

.new_task_box {
    border: 2px solid #484a47; 
    display: inline-block; 
    width: 40vw;
}
.new_task_title h1{
    font-size: 2.5vw;
    margin: 0px;
    padding: 0.75vw 0vw;
}

.check_box {
    border: 1px solid #484a47;
    padding: 0.5vw;  
    display: inline-block;
}
.check_box img{
    width: 1.25vw;
    height: 1.25vw;
    float: left;
    padding: 0vw 0.25vw;
}
.contributor_box {
    border: 1px solid #484a47;
}
.contributor_box img{
    width: 2vw;
    height: 2vw;
}
.buttons_new_task{
    float: right;  
    margin: 0.75vw; 
}
tbody {
    vertical-align: top;
}
#overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
